# ROS 2 build and install folders
/build/
/install/
/log/

# Colcon metadata
/colcon*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# VSCode / CLion / IDE stuff
.vscode/
.idea/
*.swp
*.swo

# ROS 2 launch/log/temp files
*.launch.*
*.test
*.bag
*.db3
*.mcap
ros2_ws/

# Generated messages and service files
msg/*.h
srv/*.h

# Backup / temp
*~
*.bak

# OS files
.DS_Store
Thumbs.db
